.queen-first-sec{
    
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    width: 60%;
}
.main-queen{
    display: flex;
    justify-content: center;

    /* align-items: center; */
    /* color:wheat; */
    /* background-color: rgb(37, 0, 97); */
    height: 800px;
    background-image: linear-gradient( 180deg, rgb(68, 18, 168) , rgb(37, 0, 97));                                    
    

}
.queen-second-sec h1{
    display: flex;
    font-family: "mo-bayannu", Sans-serif;
    font-size: 50px;
    font-weight: bolder;
    /* letter-spacing: 1.5px; */
    margin-left: 50px;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    /* padding: 200px 0px 0px 0px; */
    justify-content: center;

    
}
.queen-second-sec h2 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 5px;
    color: white;
}
/* .queen-first-sec img{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "mo-bayannu", Sans-serif;      
    letter-spacing: 1px;
    line-height: 34px;;
    margin-top: 0px;
    font-size: 25px;
    color: white;
    margin: 30px 10px 0px  10px;
    padding: 10px 110px 0px 100px;
} */
.queen-first-sec img {
    display: flex;
    /* background-size: cover; */
    /* background-size: 1000px , 300px; */
    height: 700px;
    width: 95%;
    align-items: left;
    margin-left: 40px;
}
.queen-second-sec button {  
    display: flex; 
    justify-content: center;
    height: 70px;
    width: 70%;
    margin-top: 30px;
    align-items: left;
    border: 5px solid rgb(207, 142, 0);     
    margin: 10px 0px 0px 100px;
    border-radius: 35px;
    color: rgb(207, 142, 0);
    background-color: rgb(70, 0, 161);
    font-size: 25px;
    font-weight: bold;
    padding: 15px 10px 15px 10px; 

    


 }
.queen-second-sec{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 100px 100px 0px 0px;
}

